@typeparam TModel where TModel : new()
@typeparam TDeleteModel
@typeparam TQueryModel

@if (IsOpen)
{
    <MMSlideover IsOpen="IsOpen" OnClose="OnClose" Title="@Title">
        <div style="margin: 20px;">
            <AutoQueryGrid Model="TModel" Apis="Apis.AutoQuery<TQueryModel, TDeleteModel>()" ConfigureQuery="ConfigureQuery">
                <Columns>
                    @Columns
                </Columns>
            </AutoQueryGrid>
        </div>
    </MMSlideover>
}