@page "/secure/units"
@attribute [Authorize(Roles = $"{Roles.MembershipChair},{Roles.Committee}")]
@rendermode InteractiveAuto

<h3>Units</h3>

<AutoQueryGrid Model="Unit" Apis="Apis.AutoQuery<QueryUnits, CreateUnit, UpdateUnit, DeleteUnit>()" @ref="_unitGrid">
    <Columns>
        <Column Field="(Unit x) => x.DistrictId">
            <Header>District</Header>
            <Template>
                @context.District.Description
            </Template>
        </Column>
        <Column Field="(Unit x) => x.Sex" />
        <Column Field="(Unit x) => x.Type" />
        <Column Field="(Unit x) => x.Number" />
        <Column Field="(Unit x) => x.NotesLink" VisibleFrom="Breakpoint.Large">
            <Template>
                <TextLink onclick="() => OnNotesClicked(context)" href="/secure/units">
                    <div style="display: inline-flex; align-items: center;">
                        <Icon Image="typeof(UnitNote).GetIcon()" />
                        <div style="margin-left: 5px;">
                            @(context.NotesLink.Count) Notes
                        </div>
                    </div>
                </TextLink>
            </Template>
        </Column>
        <Column Field="(Unit x) => x.EventsLink" VisibleFrom="Breakpoint.ExtraLarge">
            <Template>
                <TextLink onclick="() => OnEventsClicked(context)" href="/secure/units">
                    <div style="display: inline-flex; align-items: center;">
                        <Icon Image="typeof(EventUnit).GetIcon()" />
                        <div style="margin-left: 5px;">
                            @(context.EventsLink.Count) Events
                        </div>
                    </div>
                </TextLink>
            </Template>
        </Column>
        <Column Field="(Unit x) => x.SchoolsLink" VisibleFrom="Breakpoint.ExtraLarge2x">
            <Template>
                <TextLink onclick="OnSchoolsClicked" href="/secure/units">
                    <div style="display: inline-flex; align-items: center;">
                        <Icon Image="typeof(UnitSchool).GetIcon()" />
                        <div style="margin-left: 5px;">
                            @(context.SchoolsLink.Count) Schools
                        </div>
                    </div>
                </TextLink>
            </Template>
        </Column>
    </Columns>
</AutoQueryGrid>

<ManyToManyCreateSlideout Title="Unit Notes"
                          @bind-IsOpen="isNotesOpen"
                          OriginalLinkingId="_unit.Id"
                          ConfigureQueryCallback="ConfigureNotesQuery"
                          CreateRelationshipModelRequestCallback="CreateUnitNote"
                          OnSubmitSuccess="ReloadGrid"
                          TModel="Note"
                          TRelationshipModel="UnitNote"
                          TCreateModel="CreateNote"
                          TCreateRelationshipModel="CreateUnitNote"
                          TUpdateModel="UpdateNote"
                          TDeleteModel="DeleteNote"
                          TQueryModel="QueryNotes">
    <Columns>
        <Column Field="(Note x) => x.Description" />
    </Columns>
</ManyToManyCreateSlideout>

<ManyToManyReadOnlySlideout Title="Unit Events"
                        @bind-IsOpen="isEventsOpen"
                        ConfigureQueryCallback="ConfigureEventsQuery"
                        OnSubmitSuccess="ReloadGrid"
                        TModel="EventUnit"
                        TDeleteModel="DeleteEventUnit"
                        TQueryModel="QueryEventUnits">
    <Columns>
        <Column Field="(EventUnit x) => x.Event.EventType" />
        <Column Field="(EventUnit x) => x.Event.Description" />
    </Columns>
</ManyToManyReadOnlySlideout>

<MMSlideover @bind-IsOpen="isSchoolsOpen" Title="Unit Schools">
    <p>
        Todo: UI with a list of schools for the unit and the option to create a new school
    </p>
</MMSlideover>
